### 086 문자열이 알파벳인지 검사하기(isalnum)

In [1]:
txt1 = '안녕하세요?'
txt2 = '1. Title-제목을 넣으세요'
txt3 = '3피오R2D2'
ret1 = txt1.isalnum()
ret2 = txt2.isalnum()
ret3 = txt3.isalnum()
print(ret1, ret2, ret3)

False False True

### 087 문자열에서 대소문자 변환하기(upper, lower)

In [2]:
txt = 'A lot of Things occur each day'
ret1 = txt.upper()
ret2 = txt.lower()
print(ret1)
print(ret2)

A LOT OF THINGS OCCUR EACH DAY
a lot of things occur each day

In [4]:
type(txt.upper())

str

### 088 문자열에서 좌우 공백 제거하기(lstrip, rstrip, strip)

In [7]:
txt = ' 양쪽에 공백이 있는 문자열 입니다. '
ret1 = txt.lstrip()
ret2 = txt.rstrip()
ret3 = txt.strip()

print('<'+txt+'>')
print('<'+ret1+'>')
print('<'+ret2+'>')
print('<'+ret3+'>')

< 양쪽에 공백이 있는 문자열 입니다. >
<양쪽에 공백이 있는 문자열 입니다. >
< 양쪽에 공백이 있는 문자열 입니다.>
<양쪽에 공백이 있는 문자열 입니다.>

### 089 문자열을 수치형 자료로 변환하기(int, float)

In [11]:
numstr = input('숫자를 입력하세요')

try:
    num = int(numstr)
    print('당신이 입력한 숫자는 정수<%d>입니다.'%num)
except:
    try:
        num = float(numstr)
        print('당신이 입력한 숫자는 실수<%f>입니다.'%num)
    except:
        print('+++숫자를 입력하세요+++')

숫자를 입력하세요ㄴㅇㄹ
+++숫자를 입력하세요+++

### 090 수치형자료를 문자열로 변환하기(str)

In [13]:
num1 = 12314
num2 = 123.213
numstr1 = str(num1)
numstr2 = str(num2)
print('num1을 문자열로 변환한 값은 %s입니다.'%numstr1)
print('num2을 문자열로 변환한 값은 %s입니다.'%numstr2)

num1을 문자열로 변환한 값은 12314입니다.
num2을 문자열로 변환한 값은 123.213입니다.

### 091 문자열에 있는 문자(열) 개수 구하기(count)

In [14]:
txt1 = 'A lot of things occur each day, every day'
word_count1 = txt1.count('o')
word_count2 = txt1.count('day')
word_count3 = txt1.count(' ')
print(word_count1, word_count2, word_count3)

3 2 8

### 092 문자열에서 특정 문자(열) 위치 찾기(find)

In [15]:
txt = 'A lot of things occur each day, every day'
offset1 = txt.find('e')
offset2 = txt.find('day')
offset3 = txt.find('day',30)
print(offset1, offset2, offset3)

22 27 38

- find() 메소드는 첫번째 인자가 최초로 나타나는 인덱스를 반환
- find() 메소드의 두번째 인자는 두번째 인자 위치 이후에 첫번째 인자가 최초로 나타나는 인덱스를 반환
- 찾을수 없으면 -1을 반환

### 093 문자열을 특정 문자(열)로 분리하기(split)

In [20]:
url = 'http://www.naver.com/news/today=20160831'
log = 'name:홍길동 age:17 sex:남자 nation:조선'

ret1 = url.split('/')
print(ret1)

ret2 = log.split() # splip 메소드에 인자가 없을 경우 공백을 구분자로 인식
# ret2 = log.split(' ') 

print(ret2)
for data in ret2:
    d1, d2 = data.split(':')
    print('%s => %s'%(d1,d2))

['http:', '', 'www.naver.com', 'news', 'today=20160831']
['name:홍길동', 'age:17', 'sex:남자', 'nation:조선']
name => 홍길동
age => 17
sex => 남자
nation => 조선

### 094 문자열을 특정 문자(열)로 결합하기(join)

In [22]:
loglist = ['2016/08/26 10:12:11','200','OK','이 또한 지나가리다']
bond = '-'
log = bond.join(loglist)
print(log)

2016/08/26 10:12:11-200-OK-이 또한 지나가리다

### 095 문자열에서 특정 문자(열)을 다른 문자(열)로 바꾸기(replace)

In [25]:
txt = 'My password is 1234'
ret1 = txt.replace('1','0')
ret2 = txt.replace('1','python')
print(ret1)
print(ret2)

txt = '매일 많은 일들이 일어납니다.'
ret3 = txt.replace('매일','항상')
ret4 = ret3.replace('일','사건')
print(ret3)
print(ret4)

My password is 0234
My password is python234
항상 많은 일들이 일어납니다.
항상 많은 사건들이 사건어납니다.

### 096 문자열을 바이트 객체로 바꾸기(encode)

In [28]:
u_txt = 'I love python'
b_txt = u_txt.encode()
print(u_txt)
print(b_txt)

ret1 = 'I'==u_txt[0]
ret2 = 'I'==b_txt[0]
print(ret1, ret2)
print(b_txt[0])

I love python
b'I love python'
True False
73

- 바이트 객체는 2진 스트림 데이터로써 컴퓨터의 메모리에 기록되는 값
- 파이썬 3에서 모든 무나열은 유니코드 문자열로 취급됨 => ex) 대문자 'I'는 73으로 인식됨
- encode() 메소드는 유니코드로 되어 있는 문자열을 지정된 인코딩 방슥으로 인코딩하여 바이트 객체로 변환함
- encode() 메소드의 인자가 없을경우 디폴트로 'UTF-8'로 인코딩함

### 097 바이트 객체를 문자열로 바꾸기(decode)

In [31]:
b_txt = b'A lot of things occur each day'
u_txt = b_txt.decode()
print(u_txt)
print(b_txt)
print(b_txt[0])

A lot of things occur each day
b'A lot of things occur each day'
65

- decode() 메소드는 바이트 객체를 유니코드 문자열로 변환해줌
- 파일을 바이너리 모드로 읽거나 네트워크를 통해 읽어들인 데이터는 대부분 2진 데이터 스트림인 바이트 객체임.

### 098 문자열을 정렬하기(sorted, join)

In [36]:
strdata = input('정렬할 문자열을 입력하세요:')
ret1 = sorted(strdata) # 오름차순
ret2 = sorted(strdata,reverse=True) # 내림차순
print(ret1)
print(ret2)

ret1 = "".join(ret1)
ret2 = "".join(ret2)
print('오름차순으로 정렬된 문자열은 <'+ret1+'>입니다.')
print('내림차순으로 정렬된 문자열은 <'+ret2+'>입니다.')

정렬할 문자열을 입력하세요:나가하카차사자아
['가', '나', '사', '아', '자', '차', '카', '하']
['하', '카', '차', '자', '아', '사', '나', '가']
오름차순으로 정렬된 문자열은 <가나사아자차카하>입니다.
내림차순으로 정렬된 문자열은 <하카차자아사나가>입니다.

### 099 순차적인 정수 리스트 만들기(range)

In [37]:
range1 = range(10)
range2 = range(10,20)
print(range1)
print(list(range1))
print(list(range2))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

### 100 리스트에서 특정 위치의 요소 얻기

In [39]:
listdata = [1, 2, 'a', 'b', 'c', [4, 5, 6]]
var1 = listdata[1]
var2 = listdata[2]
var3 = listdata[5][1]

print(var1)
print(var2)
print(var3)

2
a
5

### 101 리스트에서 특정 요소의 위치 구하기(index)

In [44]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성', '지구']
plant = '지구'
pos = solarsys.index(plant)
print(pos)
print(solarsys[pos])
print('%s는 태양계에서 %d 번째에 위치하고 있습니다' %(plant,pos))
pos = solarsys.index(plant,5) #index()메소드의 두번째 인자는 해당 위치 뒤에 나오는 첫번째 인자의 위치를 반환
print('%s는 태양계에서 %d 번째에 위치하고 있습니다.' %(plant, pos))

3
지구
지구는 태양계에서 3 번째에 위치하고 있습니다
지구는 태양계에서 10 번째에 위치하고 있습니다.

### 102 리스트에서 특정 위치의 요소를 변경하기

In [45]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성']
plant = '화성'
pos = solarsys.index(plant)
solarsys[pos] = 'Mars'
print(solarsys)

['태양', '수성', '금성', '지구', 'Mars', '목성', '토성', '천왕성', '해왕성', '명왕성']

### 103 리스트에서 특정 구간에 있는 요소 추출하기

In [48]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성']

rock_plants = solarsys[1:4] # 4번재 요소 포함 X
gas_plants = solarsys[4:] # 4번재 요소 포함
print('태양계의 암석형 행성:',end="");print(rock_plants)
print('태양계의 가스형 행성:',end="");print(gas_plants)
print(solarsys[4])

태양계의 암석형 행성:['수성', '금성', '지구']
태양계의 가스형 행성:['화성', '목성', '토성', '천왕성', '해왕성', '명왕성']
화성

### 104 리스트에서 짝수 번재 요소만 추출하기

In [58]:
listdata = list(range(1,21))
print(listdata)
evenlist = listdata[1::2]
print(evenlist)
oddlist = listdata[::2]
print(oddlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 105 리스트 요소 순서를 역순으로 만들기 1) (reverse)

In [61]:
listdata = list(range(5))
print(listdata)
listdata.reverse()
print(listdata)

[0, 1, 2, 3, 4]
[4, 3, 2, 1, 0]

### 106 리스트 요소 순서를 역순으로 만들기 2) (reversed)

In [67]:
listdata = list(range(5))
ret1 = reversed(listdata)
print('원본 리스트',end="");print(listdata)
print('역순 리스트',end="");print(list(ret1))

ret2 = listdata[::-1]
print('슬라이싱이용',end="");print(ret2)

원본 리스트[0, 1, 2, 3, 4]
역순 리스트[4, 3, 2, 1, 0]
슬라이싱이용[4, 3, 2, 1, 0]

### 107 리스트 합치기 (+)

In [68]:
listdata1 = ['a','b','c','d','e']
listdata2 = ['f','g','h','i','j']
listdata3 = listdata1 + listdata2
listdata4 = listdata2 + listdata1
print(listdata3)
print(listdata4)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['f', 'g', 'h', 'i', 'j', 'a', 'b', 'c', 'd', 'e']

### 108 리스트 반복하기 (*)

In [69]:
listdata = list(range(3))
ret = listdata * 3
print(ret)

[0, 1, 2, 0, 1, 2, 0, 1, 2]