### 109 리스트에 요소 추가하기(append)

In [2]:
listdata = []
for i in range(3):
    txt = input('리스트에 추가할 값을 입력하세요[%d/3]:'%(i+1))
    listdata.append(txt)
    print(listdata)

리스트에 추가할 값을 입력하세요[1/3]:123
['123']
리스트에 추가할 값을 입력하세요[2/3]:4
['123', '4']
리스트에 추가할 값을 입력하세요[3/3]:56
['123', '4', '56']

### 110 리스트의 특정 위치에 요소 삽입하기(insert)

In [3]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
pos = solarsys.index('목성')
solarsys.insert(pos,'소행성')
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']

- insert() 메소드의 경우 해당 위치에 요소 삽입후 나머지 요소 뒤로 밀기

### 111 리스트의 특정 위치의 요소 제거하기(del)

In [5]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
del solarsys[0]
print(solarsys)
del solarsys[-2]
print(solarsys)

['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
['수성', '금성', '지구', '화성', '목성', '토성', '해왕성']

### 112 리스트에서 특정 요소 제거하기(remove)

In [6]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
solarsys.remove('금성')
print(solarsys)

['태양', '수성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

### 113 리스트에서 특정 구간에 있는 모든 요소 제거하기

In [9]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
del solarsys[1:3]
print(solarsys)

['태양', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

### 114 리스트에 있는 요고 개수 구하기(len)

In [10]:
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
listsize = len(listdata)
print(listsize)

15

### 115 리스트에 특정 요소 개수 구하기(count)

In [13]:
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
c1 = listdata.count(2)
c2 = listdata.count(8)
print(c1, c2)

3 1

### 116 리스트 제거하기(del)

In [14]:
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
del listdata
print(listdata)

NameError: name 'listdata' is not defined

- del 명령으로 list 객체를 메모리에서 제거

### 117 리스트 요소 정렬하기 1)(sort)

In [16]:
namelist = ['Mary','Sams','Aimy','Tom','Michle','Bob','Kelly']
namelist.sort()
print(namelist)
namelist.sort(reverse = True)
print(namelist)

['Aimy', 'Bob', 'Kelly', 'Mary', 'Michle', 'Sams', 'Tom']
['Tom', 'Sams', 'Michle', 'Mary', 'Kelly', 'Bob', 'Aimy']

### 118 리스트 요소 정렬하기 2)(sorted)

In [19]:
namelist = ['Mary','Sams','Aimy','Tom','Michle','Bob','Kelly']
ret1 = sorted(namelist)
ret2 = sorted(namelist, reverse = True)
print(namelist)
print(ret1)
print(ret2)

['Mary', 'Sams', 'Aimy', 'Tom', 'Michle', 'Bob', 'Kelly']
['Aimy', 'Bob', 'Kelly', 'Mary', 'Michle', 'Sams', 'Tom']
['Tom', 'Sams', 'Michle', 'Mary', 'Kelly', 'Bob', 'Aimy']

### 119 리스트 요소 무작위로 섞기(shuffle)

In [20]:
from random import shuffle

listdata = list(range(1,11))
for i in range(3):
    shuffle(listdata)
    print(listdata)

[4, 8, 7, 2, 3, 5, 6, 10, 1, 9]
[5, 1, 10, 8, 7, 6, 4, 9, 3, 2]
[2, 9, 8, 5, 7, 3, 6, 1, 4, 10]

### 120 리스트의 모든 요소를 인덱스와 쌍으로 추출하기(enumerate)

In [22]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
ret = list(enumerate(solarsys))
print(ret)

for i, body in enumerate(solarsys):
    print('태양계의 %d번째 천체:%s'%(i, body))

[(0, '태양'), (1, '수성'), (2, '금성'), (3, '지구'), (4, '화성'), (5, '목성'), (6, '토성'), (7, '천왕성'), (8, '해왕성')]
태양계의 0번째 천체:태양
태양계의 1번째 천체:수성
태양계의 2번째 천체:금성
태양계의 3번째 천체:지구
태양계의 4번째 천체:화성
태양계의 5번째 천체:목성
태양계의 6번째 천체:토성
태양계의 7번째 천체:천왕성
태양계의 8번째 천체:해왕성

### 121 리스트의 모든 요소의 합 구하기(sum)

In [23]:
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
ret1 = sum(listdata)
print(ret1)

65

### 122 리스트의 요소가 모두 참인지 확인하기(all,any)

In [25]:
listdata1 = [0, 1, 2, 3, 4]
listdata2 = [True, True, True]
listdata3 = ["",[], (), {}, None, False]

print(all(listdata1))
print(any(listdata1))
print(all(listdata2))
print(any(listdata2))
print(all(listdata3))
print(any(listdata3))

False
True
True
True
False
False

- 아래의 값은 모두 거짓  
숫자 0  
빈 문자열 '', ""  
빈 리스트 []  
빈 튜플 ()  
빈 사전 {}  
None  
- 이외의 0이 아닌 숫자나 한 문자 이상의 문자열, 요소를 가진 리스트, 튜플, 사전 등은 모두 참

### 123 사전에 요소 추가하기

In [27]:
solar1 = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
solar2 = ['sun','Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune']
solardict ={}
for i, k in enumerate(solar1):
    val = solar2[i]
    solardict[k] = val
print(solardict)

{'지구': 'Earth', '목성': 'Jupiter', '금성': 'Venus', '수성': 'Mercury', '천왕성': 'Uranus', '해왕성': 'Neptune', '토성': 'Saturn', '화성': 'Mars', '태양': 'sun'}

### 124 사전의 특정 요소값 변경하기

In [29]:
names = {'Mary':10999,'Sams':2111,'Aimy':9778,'Tom':20245,'Michale':27115,'Bob':5887,'Kelly':7855}
print(names)
names['Aimy']= 10000
print(names)

{'Tom': 20245, 'Michale': 27115, 'Sams': 2111, 'Aimy': 9778, 'Kelly': 7855, 'Mary': 10999, 'Bob': 5887}
{'Tom': 20245, 'Michale': 27115, 'Sams': 2111, 'Aimy': 10000, 'Kelly': 7855, 'Mary': 10999, 'Bob': 5887}

### 125  사전의 특정 요소 제거하기(del)

In [31]:
names = {'Mary':10999,'Sams':2111,'Aimy':9778,'Tom':20245,'Michale':27115,'Bob':5887,'Kelly':7855}
print(names)
del names['Mary']
print(names)

{'Tom': 20245, 'Michale': 27115, 'Sams': 2111, 'Aimy': 9778, 'Kelly': 7855, 'Mary': 10999, 'Bob': 5887}
{'Tom': 20245, 'Michale': 27115, 'Sams': 2111, 'Aimy': 9778, 'Kelly': 7855, 'Bob': 5887}

### 126 사전의 모든 요소 제거하기(clear)

In [33]:
names = {'Mary':10999,'Sams':2111,'Aimy':9778,'Tom':20245,'Michale':27115,'Bob':5887,'Kelly':7855}
print(names)
names.clear()
print(names)

{'Tom': 20245, 'Michale': 27115, 'Sams': 2111, 'Aimy': 9778, 'Kelly': 7855, 'Mary': 10999, 'Bob': 5887}
{}

### 127 사전에서 키만 추출하기(keys)

In [37]:
names = {'Mary':10999,'Sams':2111,'Aimy':9778,'Tom':20245,'Michale':27115,'Bob':5887,'Kelly':7855}

ks = names.keys()
print(ks)

for k in ks:
    print('Key:%s\t Values:%d'%(k,names[k]))
    
key_list = list(names.keys())
print(key_list)

dict_keys(['Tom', 'Michale', 'Sams', 'Aimy', 'Kelly', 'Mary', 'Bob'])
Key:Tom	 Values:20245
Key:Michale	 Values:27115
Key:Sams	 Values:2111
Key:Aimy	 Values:9778
Key:Kelly	 Values:7855
Key:Mary	 Values:10999
Key:Bob	 Values:5887
['Tom', 'Michale', 'Sams', 'Aimy', 'Kelly', 'Mary', 'Bob']

### 128 사전에서 값만 추출하기(values)

In [40]:
names = {'Mary':10999,'Sams':2111,'Aimy':9778,'Tom':20245,'Michale':27115,'Bob':5887,'Kelly':7855}
values = names.values()
print(values)


values_list = list(names.values())
print(values_list)
ret = sum(values_list)
print(ret)

dict_values([20245, 27115, 2111, 9778, 7855, 10999, 5887])
[20245, 27115, 2111, 9778, 7855, 10999, 5887]
83990

### 129 사전 요소를 모두 추출하기(items)

In [45]:
names = {'Mary':10999,'Sams':2111,'Aimy':9778,'Tom':20245,'Michale':27115,'Bob':5887,'Kelly':7855}
items = names.items()
print(items)

items_list = list(items)
print(items_list)
for item in items:
    print(list(item))

dict_items([('Tom', 20245), ('Michale', 27115), ('Sams', 2111), ('Aimy', 9778), ('Kelly', 7855), ('Mary', 10999), ('Bob', 5887)])
[('Tom', 20245), ('Michale', 27115), ('Sams', 2111), ('Aimy', 9778), ('Kelly', 7855), ('Mary', 10999), ('Bob', 5887)]
['Tom', 20245]
['Michale', 27115]
['Sams', 2111]
['Aimy', 9778]
['Kelly', 7855]
['Mary', 10999]
['Bob', 5887]

### 130 사전에 특정 키가 존재하는지 확인하기(in)

In [52]:
names = {'Mary':10999,'Sams':2111,'Aimy':9778,'Tom':20245,'Michale':27115,'Bob':5887,'Kelly':7855}

k = input('이름을 입력하세요')
if k in names:
    print('이름 :%s, 출생아수 : %d' %(k, names[k]))
else:
    print('자료에 <%s>란 이름은 존재하지 않아 임마' %k)
    
value = input('출생아수 입력')
value = int(value)
if value in names.values():
    print('존재')
else :
    print('없음')

이름을 입력하세요123
자료에 <123>란 이름은 존재하지 않아 임마
출생아수 입력12341
없음

### 131 사전 정렬하기(sorted)

In [62]:
names = {'Mary':10999,'Sams':2111,'Aimy':9778,'Tom':20245,'Michale':27115,'Bob':5887,'Kelly':7855}

ret1 = sorted(names)
print(ret1)

def f1(x):
    return x[0]

def f2(x):
    return x[1]

ret2 = sorted(names.items(), key = f1)
print(ret2)

ret3 = sorted(names.items(), key = f2)
print(ret3)

ret4 = sorted(names.items(), key = f2, reverse = True)
print(ret4)

ret5 = sorted(names.values())
print(ret5)

def f3(x):
    return int(x)
ret6 = sorted(names.values(), key = f3)
print(ret6)

['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']
[('Aimy', 9778), ('Bob', 5887), ('Kelly', 7855), ('Mary', 10999), ('Michale', 27115), ('Sams', 2111), ('Tom', 20245)]
[('Sams', 2111), ('Bob', 5887), ('Kelly', 7855), ('Aimy', 9778), ('Mary', 10999), ('Tom', 20245), ('Michale', 27115)]
[('Michale', 27115), ('Tom', 20245), ('Mary', 10999), ('Aimy', 9778), ('Kelly', 7855), ('Bob', 5887), ('Sams', 2111)]
[2111, 5887, 7855, 9778, 10999, 20245, 27115]
[27115, 20245, 10999, 9778, 7855, 5887, 2111]

### 132 문자 코드값 구하기(ord)

In [65]:
ch = input('문자 1개를 입력해')
if len(ch) != 0:
    ch = ch[0]
    chv = ord(ch)
    print('문자 %s 코드값 %d[%s]'%(ch, chv, hex(chv)))

문자 1개를 입력해가
문자 가 코드값 44032[0xac00]

### 133 코드값에 대응하는 문자 얻기(chr)

In [69]:
val = input('코드값을 입력하세요')
val = int(val)

try:
    ch = chr(val)
    print('코드값 %d[%s], 문자 %s' %(val, hex(val),ch))
    
except:
    print('입력한 <%d>에 대한 문자 없어....'%val)

코드값을 입력하세요114
코드값 114[0x72], 문자 r

### 134 문자열로 된 식을 실행하기(eval)

In [70]:
expr1 = '2+3'
expr2 = 'round(3.7)'
ret1 = eval(expr1)
ret2 = eval(expr2)
print('<%s>를 실행한 결과 : %d'%(expr1, ret1))
print('<%s>를 실행한 결과 : %d'%(expr2, ret2))

<2+3>를 실행한 결과 : 5
<round(3.7)>를 실행한 결과 : 4

- 파이썬으로 실행 불가능한 문자열일 경우 아래와 같은  SyntaxError 발생  
SnytaxError: unexpected EOF while parsing

### 135 이름없는 한줄짜리 함수 만들기(lambda)

In [74]:
add = lambda x,y : x+y
ret = add(1,3)
print(ret)

funcs = [lambda x: x+'.pptx', lambda x : x+'.docx']
ret1 = funcs[0]('intro')
ret2 = funcs[1]('Report')
print(ret1)
print(ret2)

names = {'Mary':10999,'Sams':2111,'Aimy':9778,'Tom':20245,'Michale':27115,'Bob':5887,'Kelly':7855}

ret3 = sorted(names.items(), key = lambda x :x[0])
print(ret3)

4
intro.pptx
Report.docx
[('Aimy', 9778), ('Bob', 5887), ('Kelly', 7855), ('Mary', 10999), ('Michale', 27115), ('Sams', 2111), ('Tom', 20245)]

### 136 인자를 바꾸어 함수를 반복 호출하여 결과값 얻기(map)

In [76]:
f = lambda x : x*x
args = [1,2,3,4,5]
ret = map(f,args)
print(list(ret))

[1, 4, 9, 16, 25]

- 두개 이상의 반복되는 인자에 대해서도 적용가능

In [79]:
f = lambda x, y: x**y
x = [2,2,2,2,2]
y = [2,3,4,5,6]

ret = map(f, x, y)
print(list(ret))

[4, 8, 16, 32, 64]