In [4]:
##입문1

In [5]:
print("안녕하세요")

안녕하세요

In [6]:
##입문2

In [7]:
print("안녕하세요")

안녕하세요

In [9]:
a = 1
b = 1
print(a+b)

2

In [10]:
##입문3

In [12]:
_myname = "samsjang"
my_name = "홍길동"
MyName2 = "Hong gil-dong"
counter = 1
Counter = 2

In [13]:
and = 1

SyntaxError: invalid syntax (<ipython-input-13-354ec25dd56c>, line 1)

In [14]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [15]:
number1 = 1
pi = 3.14
flag = True
char = "x"
chars = "I love Python"

In [16]:
number1 + 1

2

In [17]:
pi * 3

9.42

In [20]:
##자료형 개념 익히기
int_data = 1

float_data = 3.14
complex_data = 1+5j
str_data1 = "I love python"
str_data2 = "반갑습니다"
list_data = [1,2,3]
tuple_data = (1,2,3)
dict_data = {0:"False", 1:"TRUE"}

In [21]:
print("#", end = "")

#

In [23]:
print("#")

#

In [24]:
listdata = ["a", "b", "c"]
if "a" in listdata:
    print("a가 리스트 안에 있습니다")
    print(listdata)
else:
    print("a가 리스트 안에 존재하지 않습니다")

a가 리스트 안에 있습니다
['a', 'b', 'c']

In [26]:
str = "abcdef"
for c in str:
    print(c)

a
b
c
d
e
f

In [31]:
str = "안녕하세요"
for c in str:
    print(c)

안
녕
하
세
요

In [32]:
for c in range(10):
    print(c)

0
1
2
3
4
5
6
7
8
9

In [33]:
dictionary = {"a":97, "b":100, "c":203}
for c in dictionary:
    print(c)

a
b
c

In [38]:
dictionary["a"]

97

In [42]:
scope = [1,2,3,4,5]
for x in scope:
    print(x)
    if x < 3:
        continue
    else:
        break
######################

1
2
3

In [43]:
for x in scope:
    print(x)
    if x<3:
        break

1

In [44]:
x = 0
while x < 10:
    x = x+1
    if x<3:
        continue
    print(x)
    if x>7:
        break

3
4
5
6
7
8

In [48]:
x = 1
total = 0
while 1:
    total = total + x
    if total > 100000:
        print(x)
        print(total)
        break
    x = x + 1

447
100128

In [51]:
val = None
condition = 1
if condition == 2:
    val = [1,2,3]
else :
    val = "I love Python"

In [52]:
val

'I love Python'